p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

p a, 
p button {
    margin-right: 20px;
     padding: 7px;
    border-radius: 5px;
    background-color:#ffffff13; 
    color: rgb(252, 252, 252);
    
}
a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    background-color:#ffffff13; 
    padding: 7px;
    border-radius: 5px;
}
p a:hover
{
    background-color: rgb(252, 252, 252);
    color: black;
    
}
p button:hover
{
    background-color: rgb(252, 252, 252);
    color: black;
    
}