:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
  padding-top: 10px;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3a3a3a;
  color: #f0f0f0;
  border-radius: 20px;
  padding: 50px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.info h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 600;
}

.info p {
  margin-bottom: 15px;
  font-size: 20px;
  color: #c5c5c5;
}


.info a{
  color: #ffffff;
  margin-bottom: 15px;
}
.info button{
  margin-bottom: 15px;
}


  

  

